body {
    background-color: #000;
}
.doc1 {
    .navbar-lang {
        margin-left: 150px;
        top: 14px;
    }
    @media (max-width: $screen-xs) {
        .navbar-login {
            display: none;
        }
    }
    .navbar-tail {
        .btn-magnet-lf {
            margin-left: -5px;
        }
        .help-tip {
            position: absolute;
        }
    }
    .module {
        background-color: $module-bg;
        padding: 30px 0;
        .container-module {
            padding-left: 0;
            @media (min-width: $screen-lg-min) {
                width: $container-md;
            }
            .container {
                width: 100%;
            }
            background-color: $module-sub-bg;
            border: 1px solid #e7e7e7;
            .h2, .hd {
                    padding-left: 70px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #f3f3f3;
            }
        }
    }

    .ft {
        margin: 30px auto 80px auto;
        @media (max-width: $screen-xs) {
            .col-lg-2 {
                float: left;
            }
        }
        h4 {
            color: $text-title-color;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                color: $text-content-color;
            }
        }
    }
}

// 三列布局
.doc2 {
    > .row {
        background-color: $module-bg;
    }
    .bd {
        @extend .container;
        margin-top: 30px;
        .sidebar {
            @extend .col-lg-3;
            padding: 0;
            z-index: $zindex-navbar;
        }
        .content {
            margin-left: -2px;
            background-color: #fff;
            padding: 15px;
            min-height: 700px;
            @extend .col-lg-6;
        }
        .sidebar-ad {
            @extend .col-lg-3;
            padding: 0;
            padding-left: 18px;
            height: 50px;
        }
        .hd-sub {
            padding-bottom: 5px;
            border-bottom: 1px solid $module-border;
            margin-bottom: 10px;
            color: $text-content-color;
            .title {
                font-size: $font-size-large;
                margin: 0;
            }
        }
    }
}

// 两列布局
.doc3 {
    > .row {
        background-color: $module-bg;
    }
    .bd {
        @extend .container;
        margin-top: 30px;
        .sidebar {
            @extend .col-lg-3;
            padding: 0;
            z-index: $zindex-navbar;
        }
        .content {
            margin-left: -2px;
            background-color: #fff;
            padding: 15px;
            min-height: 700px;
            @extend .col-lg-9;
        }
        .hd-sub {
            padding-bottom: 5px;
            border-bottom: 1px solid $module-border;
            margin-bottom: 10px;
            color: $text-content-color;
            .title {
                font-size: $font-size-large;
                margin: 0;
            }
        }
    }
    .col-left {
        float: left;
    }
    .col-right {
        overflow: hidden;
        zoom: 1;
    }
}
