body {
    background-color: #000;
}

.ft {
    margin: 30px auto ;
    @media (max-width: $screen-xs) {
        .col-lg-2 {
            float: left;
        }
    }
    .container {
        margin-bottom: 20px;
    }
    .ft-risk-tip {
        p {
            margin-bottom: 0;
        }
    }
    h4 {
        color: $text-inverse-title-color;
        font-size: $font-size-base;
        margin-bottom: 14px;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            a {
                color: $text-content-color;
            }
        }
    }
}

.doc1 {
    .navbar-lang {
        margin-left: 150px;
        top: 14px;
    }
    @media (max-width: $screen-xs) {
        .navbar-login {
            display: none;
        }
    }
    .navbar-tail {
        .btn-magnet-lf {
            margin-left: -5px;
        }
        .help-tip {
            position: absolute;
        }
    }

    .module {
        background-color: $module-bg;
        padding: 30px 0;
        .container-module {
            padding-left: 0;
            @media (min-width: $screen-lg-min) {
                width: $container-md;
            }
            .container {
                width: 100%;
            }
            background-color: $module-sub-bg;
            border: 1px solid #e7e7e7;
            .h2, .hd {
                    padding-left: 70px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #f3f3f3;
            }
        }
    }
    .bd {
        background-color: $module-bg;
        .row {
            margin: 0;
        }
        .hd-sub {
            background-color: $module-bg;
            height: 68px;
            line-height: 79px;
            font-size: $font-size-h3;
            padding-left: 110px;
            border-bottom: 1px solid $module-border;
        }
        .bd-sub {
            padding: 0;
            margin-top: 21px;
            margin-bottom: 46px;
            background-color: #fff;
            .banner {
                img {
                    width: 100%;
                }
            }
            .content {
                padding: 20px 375px 40px 72px;
                h4 {
                    margin: 20px 0;
                    font-size: $font-size-large;
                }
                a {
                    color: $brand-info;
                }
                .define {
                    background: $module-bg;
                    padding: 10px 10px 5px 10px;
                    .define-title {
                        color: $text-title-color;
                        font-size: $font-size-large;
                    }
                    .define-content {
                        color: $text-title-sub-color;
                    }
                }
                .contact {
                    @extend .clearfix;
                    padding: 20px;
                    background-color: $module-bg;
                    float: left;
                    > li {
                        width: 248px;
                        list-style-type: none;
                        height: 90px;
                        float: left;
                        text-align: center;
                        p {
                            margin-top: 20px;
                        }
                        &.bd-right {
                            border-right: 1px solid $module-border;
                        }
                    }
                }
                .magnet {
                    margin: 0;
                    padding: 0;
                    > li {
                        float: left;
                        list-style: none;
                        margin-top: 30px;
                        width: 215px;
                        height: 215px;
                        position: relative;
                        cursor: pointer;
                        border: 1px solid $module-border;
                    }
                    .magnet-slogan {
                        padding: 50px 0;
                        background-color: $module-bg;
                        color: $text-title-color;
                        .magnet-title-normal {
                            font-size: $font-size-h2;
                            padding-left: 16px;
                        }
                        .magnet-title-primary{
                            font-size: $font-size-h1;
                            font-weight: bolder;
                            color: $brand-primary;
                            padding-left: 24px;
                        }
                    }
                    .magnet-item {
                        padding: 25px 0 50px;
                        text-align: center;
                        .magnet-fragment {
                            display: none;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 77px;
                            padding: 10px 15px;
                            color: $text-inverse-title-color;
                            background-color: rgba($nav-dialog-bg, 0.8);
                        }
                        &:hover, &.active {
                            .magnet-fragment {
                                display: block;
                            }
                        }
                    }
                    .mg-rt-30 {
                        margin-right: 30px;
                    }
                    .mg-lt-30 {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

// 三列布局
.doc2 {
    > .row {
        background-color: $module-bg;
    }
    .bd {
        @extend .container;
        margin-top: 30px;
        .sidebar {
            @extend .col-lg-3;
            padding: 0;
            z-index: $zindex-navbar;
        }
        .content {
            margin-left: -2px;
            background-color: #fff;
            padding: 15px;
            min-height: 700px;
            @extend .col-lg-6;
        }
        .sidebar-ad {
            @extend .col-lg-3;
            padding: 0;
            padding-left: 18px;
            height: 50px;
        }
        .hd-sub {
            padding-bottom: 5px;
            border-bottom: 1px solid $module-border;
            margin-bottom: 10px;
            color: $text-content-color;
            .title {
                font-size: $font-size-large;
                margin: 0;
            }
        }
    }
}

// 两列布局
.doc3 {
    > .row {
        background-color: $module-bg;
    }
    .bd {
        @extend .container;
        margin-top: 30px;
        .sidebar {
            @extend .col-lg-3;
            padding: 0;
            z-index: $zindex-navbar;
        }
        .content {
            margin-left: -2px;
            background-color: #fff;
            padding: 15px;
            min-height: 700px;
            @extend .col-lg-9;
        }
        .hd-sub {
            padding-bottom: 5px;
            border-bottom: 1px solid $module-border;
            margin-bottom: 10px;
            color: $text-content-color;
            .title {
                font-size: $font-size-large;
                margin: 0;
            }
        }
    }
    .col-left {
        float: left;
    }
    .col-right {
        overflow: hidden;
        zoom: 1;
    }
}
