//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.logo{
    display: block;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 40px;
}
.logo-color {
    @extend .logo;
    @include wd-image('logo-color.png');
}

.logo-gray {
    @extend .logo;
    @include wd-image('logo-gray.png');
}

.color-danger {
    color: $brand-danger;
}

.color-info {
    color: $brand-info;
}

.mg-lf-30 {
    margin-left: 30px;
}

.mg-rt-30 {
    margin-right: 30px;
}

.social-list {
    > li {
        display: inline-block;
        .social-item {
            display: block;
            width: 24px;
            height: 24px;
            @include wd-image-url('icon-social.png');
        }
        .social-item-wechart {
            @extend .social-item;
                background-position: 0 0;
            &:hover {
                background-position: 0 -27px;
            }
        }
        .social-item-weibo {
            @extend .social-item;
                background-position: -28px -27px;
            &:hover {
                background-position: -28px 0;
            }
        }
        .social-item-email {
            @extend .social-item;
                background-position: -54px -27px;
                margin-left: 18px;
            &:hover {
                background-position: -54px 0;
            }
        }
    }
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }
}

.h2 {
    font-size: $font-size-h3;
    padding-bottom: 21px;
    padding-left: 60px;
    border-bottom: 1px solid #f3f3f3;
}
