#tigerwitLogin {
    h2 {
        padding: 0;
        margin: 0;
        padding-left: 25px;
        margin-bottom: 15px;
    }
    a {
        color: $brand-info;
    }
    label {
        font-weight: normal;
    }
    .box-slogan {
        img {
            margin-bottom: 90px;
        }
        p {
            color: $text-content-color;
            font-size: $font-size-small;
        }
    }
    .box-login {
        padding: 40px 0 10px 20px;
        background-color: #fff;
        .pull-left {
            width: 90px;
            label {
                width: 60px;
                vertical-align: top;
            }
        }
    }
    .btn-primary {
        width: 100%;
    }
}
