#tigerwitRegister {
    .container-module {
        .form-group {
            .control-label {
                top: 10px;
            }
            .input-verify {
                padding-left: 0;
            }
            .register-notice {
                label {
                    font-weight: normal;
                }
                a {
                    color: $brand-info;
                }
            }
        }
    }
    .real-info {
        .real-info-input {
            margin-top: 57px;
        }
        .real-info-succ {
            margin: 120px auto;
        }
        .risk-assessment {
            margin: 90px px 0 150px;
            input {
                margin-left: 5px;
            }
            label {
                font-weight: normal;
            }
            p {
                font-weight: bolder;
            }
        }
        .upload {
            padding-left: 12px;
            .front {
                @include wd-image('id-card-front.png');
                display: inline-block;
                margin-right: 3px;
            }
            .back {
                @include wd-image('id-card-back.png');
                display: inline-block;
            }
            .upload-tip {
                display: inline-block;
                width: 320px;
                .status {
                    font-size: 16px;
                    &.error {
                        border: none;
                        color: $standard-red;
                    }
                    &.uploading {
                        color: $standard-black;
                    }
                    &.success {
                        border: none;
                        color: $standard-green;
                    }
                }
            }
            .error {
                border: 3px solid $standard-red;
            }
            .success {
                margin-top: 0px;
                border: 3px solid $standard-green;
            }
        }
        .btn {
            margin-top: 20px;
        }
    }

}
