#tigerwitResetPassword {
    .bd{
        margin-top: 70px;
        margin-left: 120px;
        &.reset-info-succ {
            margin-left: 0;
        }
    }
    .input-submit {
        padding-left: 167px;
        .btn-ex-lg {
            width: 100%;
        }
    }
    .input-verify {
        padding-left: 0;
    }

    .btn-md {
        padding: 6px 66px;
    }
    .wrapper-btn {
         margin-top: 20px;
    }
}
