<div id="settings-info">
    <div class="hd-sub">
        <p class="title">个人信息</p>
    </div>
    <div class="bd-sub">
        <div class="col-left">
            <img class="img-circle"
            src="http://placehold.it/34x34"
            alt="thumbnail" />
        </div>
        <div class="col-right personal-info">
            <p><span>昵称：</span>Bin.Linghu</p>
            <p><span>手机：</span>令狐斌</p>
            <p><span>邮箱：</span>linghubin</p>
            <p><span>姓名：</span>linghubin</p>
            <p><span>出生日期：</span>linghubin</p>
            <p><span>身份证号：</span>linghubin</p>
        </div>
    </div>
</div>
