<div id="settings-password">
    <div class="hd-sub">
        <p class="title">修改密码</p>
    </div>
    <div class="bd-sub">
        <div class="form-wrapper">
          <p class="color-danger"> 注意：修改后的密码同时也会作为 mt4 客户端的登录密码使用</p>
          <div class="form-group clearfix">
            <label for="inputPassword" class="col-sm-3 control-label text-right">当前密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control"
                data-validate="required" focus-tip="password"
                id="inputPassword" placeholder="当前密码" ng-model="setting.password">
            </div>
            <div class="col-sm-5" focus-tip-type="password">
                <p class="bg-info help-tip help-tip-single"
                data-info="请输入原密码"></p>
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="inputPassword" class="col-sm-3 control-label text-right">设置新密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control"
                data-validate="length:6-15 password"
                id="inputPassword" placeholder="密码"
                ng-model="setting.new_password" focus-tip="newPassword">
            </div>
            <div class="col-sm-5" focus-tip-type="newPassword">
                <p class="bg-info help-tip"
                data-info="6-15位字符，可由大写字母，小写字母，数字，符号组成，且至少包含其中2项"></p>
            </div>
          </div>
          <div class="form-group clearfix">
            <label for="inputPasswordConfirm" class="col-sm-3 control-label text-right">重复新密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" 
                id="inputPasswordConfirm" placeholder="再次确认密码"
                data-validate="required"
                ng-model="setting.passwordConfirm" focus-tip="passwordconfirm">
            </div>
            <div class="col-sm-5" focus-tip-type="passwordconfirm">
              <p class="bg-info help-tip help-tip-single" data-info="请再次输入密码"></p>
            </div>
          </div>

          <div class="form-group clearfix">
            <div class="col-sm-8 input-submit text-center">
                <button type="submit"  ng-click="resetPassword();" 
                    class="btn btn-primary btn-ex-lg">提交</button>
                <p ng-class="{'show': setting.error_msg != undefined}"
                  class="color-danger text-center hide">{{setting.error_msg }}</p>
            </div>
          </div>
        </div>
    </div>
</div>
