<div class="personal-info-side">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#/setting" 
                ng-class="{'active': stateName === 'setting'}"><span class="icon-nav-home"></span>个人信息</a>
        </li>
        <li>
            <a href="#/setting/password"
                ng-class="{'active': stateName === 'settingPassword'}"><span class="icon-nav-deposit"></span>修改密码</a>
        </li>
        <li>
            <a href="#/setting/global" 
                ng-class="{'active':  stateName === 'settingGlobal'}"><span class="icon-nav-withdraw"></span>系统设置</a>
        </li>
    </ul>
</div>

