    <!--ft start-->
    <div class="container ft">
            <div class="col-lg-3">
                <a href="#" class="logo-gray"></a>
                <ul class="social-list text-center">
                    <li>
                        <a href="" class="social-item-wechart"></a>
                    </li>
                    <li>
                        <a href="" class="social-item-weibo"></a>
                    </li>
                    <li>
                        <a href="" class="social-item-email"></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4>产品</h4>
                <ul>
                    <li>外汇</li>
                    <li>二元期权</li>
                    <li>美股</li>
                    <li>港股</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4>合作伙伴</h4>
                <ul>
                    <li>代理加盟</li>
                    <li>白标</li>
                    <li>成为高手</li>
                    <li>媒体合作</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4>支持</h4>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h4>联系我们</h4>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
    </div><!--foot end-->
    <div class="container">
        <p>风险提示：外汇交易、查价合约和其他保证金交易存在较高风险，不适合所有投资者。增大杠杆意味着增加风险，决定参与外汇交易前，您应该
        考虑您的投资目标、经验等级及风险承受能力。您可能会亏损部分或者全部资金。交易者应该清楚的了解与外汇交易相关联的所有风险，如果您有
        任何疑问，可在必要时向独立的金融顾问征询意见。</p>
    </div>


