#settings-password {
    .form-wrapper {
        margin-left: 140px;
        margin-top: 40px;
        .col-sm-4 {
            padding: 0;
        }
        .control-label {
            top: 10px;
            color: $text-content-color;
        }
    }
}
