<div class="navbar-personal">
    <!-- navbar start -->
    <div class="navbar-wrapper" ng-class="{'hide': hideNav }">
        <div class="row">
            <div class="container">
                <!--navbar-collapse start-->
                <div class="navbar navbar-inverse navbar-static-top navbar-collapse collapse">
                    <!--navbar-header start-->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <h1 class="logo-color"></h1>
                        </a>
                    </div><!--navbar-header end-->

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="#">高手榜</a>
                        </li>
                        <li>
                            <a href="#">新手指南</a>
                        </li>
                        <li>
                            <a href="#">设置</a>
                        </li>
                    </ul>
                    <div class="navbar-tail">
                        <div class="dropdown pull-right dropdown-info">
                            <a class="dropdown-toggle">
                                令狐斌
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu show">
                                <div class="row clearfix">
                                    <div class="col-left">
                                        <img class="img-circle"
                                        src="http://placehold.it/34x34"
                                        alt="thumbnail" />
                                    </div>
                                    <div class="col-right">
                                        <p>Bin.Linghu</p>
                                        <p>真实账户：令狐斌</p>
                                        <p>模拟账户：linghubin</p>
                                    </div>
                                </div>
                                <div class="found-wrapper-sm">
                                    <div class="title">
                                        总资产
                                    </div>
                                    <div class=" money-total">
                                        $6812.34
                                    </div>
                                    <div class="btn-wrapper">
                                        <button class="btn btn-md btn-danger" 
                                            type="submit">入金</button>
                                        <button class="btn btn-md btn-info"
                                            type="submit">出金</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--navbar-collapse end-->
            </div>
        </div>
    </div><!--navbar end-->
</div>
