<div id="navbar-personal">
    <!-- navbar start -->
    <div class="navbar-wrapper" ng-class="{'hide': hideNav }">
        <div class="row">
            <div class="container">
                <!--navbar-collapse start-->
                <div class="navbar navbar-inverse navbar-static-top navbar-collapse collapse">
                    <!--navbar-header start-->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <h1 class="logo-color"></h1>
                        </a>
                    </div><!--navbar-header end-->

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="#">高手榜</a>
                        </li>
                        <li>
                            <a href="#">新手指南</a>
                        </li>
                        <li>
                            <a href="#">设置</a>
                        </li>
                    </ul>
                    <div class="navbar-tail">
                    </div>
                </div><!--navbar-collapse end-->
            </div>
        </div>
    </div><!--navbar end-->
</div>
