.personal-deposit-side {
    border: 1px solid $module-border;
    background-color: $module-sub-bg;
    padding: 14px 20px 10px 20px;
    .hd {
        padding-bottom: 20px;
        color: $text-title-color;
        border-bottom: 1px solid $module-border;
    }
    .money-total {
        font-size: $font-size-h1;
        font-weight: bolder;
        color: $text-title-color;
        height: 150px;
        line-height: 150px;
        text-align: right;
    }
    .btn-wrapper {
        text-align: center;
        .btn-md {
            padding: 9px 30px 9px 45px;
            position: relative;
        }
    }
}
