#personal-history {
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            padding: 15px 0;
            color: $text-title-color;
            p {
                margin: 0;
            }
            .col-sm-2 {
                top: 10px;
            }
            .currency {
                font-weight: bolder;
                font-size: $font-size-base;
            }
            .forex-type {
                color: $brand-info;
                font-weight: bolder;
                font-size: $font-size-base;
            }
            .up {
                color: $brand-danger;
            }
            .down {
                color: $brand-success;
            }
            .deal-info {
                margin-top: 5px;
                color: $text-content-color;
                font-size: $font-size-small;
                .deal-type {
                    display: inline-block;
                    width: 72px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    margin-right: 4px;
                    background-color: $module-bg;
                }
            }
        }
        li:nth-child(2n) {
            background-color: $table-nth-bg;
        }
    }
    .ft {
        display: block;
        color: $brand-info;
        &:hover {
            text-decoration: none;
        }
    }
}
