.personal-info-side {
    .personal-info {
        background-color: #fff;
        padding-bottom: 20px;
        margin-right: 18px;
        .thumbnail {
            padding-top: 30px;
            .img-circle {
                border: 4px solid $module-sub-border;
            }
        }
        .info-detail {
            width: 245px;
            margin: 0 auto;
            border: 1px solid $module-border;
            h4 {
                background-color: $module-bg;
                color: $text-title-color;
                text-align: center;
                height: 40px;
                margin: 0;
                line-height: 40px;
            }
            .info-text {
                padding: 10px 20px 20px 20px;
                p {
                    color: $text-title-sub-color;
                    font-size: $font-size-small;
                }
            }
            .btn-md {
                width: 100%;
                padding: 9px 16px;
            }
        }
    }
    .nav {
        margin-bottom: 20px;
        > li {
            > a {
                padding: 20px 0 20px 60px;
                border-left: 2px solid $module-bg;
                border-radius: 0;
                color: $text-content-color;
                &.active,
                &:hover {
                    border-left: 2px solid $brand-primary;
                    color: $text-title-color;
                    background-color: #fff;
                }
            }
        }
    }
}
