<div id="personal-history">
    <div class="hd-sub clearfix">
        <p class="pull-left title">资产净值曲线</p>
        <div class="dropdown pull-right">
            <button class="btn btn-defalut dropdown-toggle" ng-click="openDropDown()">
                <span class="dropdown-toggle-text">一周</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-class="{'show': showDropdown}">
                <li>
                    <a href="" ng-click="rePaintStock(30)">一周</a>
                    <a href="" ng-click="rePaintStock(120)">3个月</a>
                    <a href="" ng-click="rePaintStock(240)">6个月</a>
                    <a href="" ng-click="rePaintStock(360)">9个月</a>
                    <a href="" ng-click="rePaintStock(480)">1年</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bd-sub">
        <div highcharts-stock></div>
    </div>
    <div class="hd-sub">
        <p class="title">
        账户概况
        </p>
    </div>
    <div class="bd-sub table-info">
        <div class="row border">
            <div class="col-sm-4 border-right">
                <p>盈利率</p>
                <p class="number-danger">75.00%</p>
            </div>
            <div class="col-sm-4 border-right">
                <p>胜率</p>
                <p class="number-info">75.00%</p>
            </div>
            <div class="col-sm-4">
                <p>获利点数</p>
                <p class="number-info">-72.6</p>
            </div>
        </div>
        <div class="row border">
            <div class="col-sm-4 border-right">
                <p>总订单数</p>
                <p class="number-info">114</p>
            </div>
            <div class="col-sm-4 border-right">
                <p>总交易数</p>
                <p class="number-info">23.78</p>
            </div>
            <div class="col-sm-4">
                <p>近30天交易手数</p>
                <p class="number-info">16.92</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 border-right">
                <p>最牛交易</p>
                <p class="number-info">56.23%</p>
            </div>
            <div class="col-sm-6">
                <p>最差交易</p>
                <p class="number-info">-164.30%</p>
            </div>
        </div>
    </div>
</div>
