<div id="personal-history">
    <div class="hd-sub clearfix">
        <span class="col-sm-5">操作</span>
        <span class="col-sm-2">开仓价</span>
        <span class="col-sm-2">平仓价</span>
        <span class="col-sm-2">盈亏</span>
    </div>
    <ul>
        <li class="clearfix">
            <div class="col-sm-5">
                <p>买入 <span class="forex-type">EUR/CHF</span></p>
                <p class="deal-info"><span class="deal-type">手动平仓</span> 3分钟前</p>
            </div>
            <span class="col-sm-2 currency"> 1.2057 </span>
            <span class="col-sm-2 currency up"> 1.2057 </span>
            <span class="col-sm-2 currency down"> 120.57 </span>
        </li>
        <li class="clearfix">
            <div class="col-sm-5">
                <p>买入 <span class="forex-type">EUR/CHF</span></p>
                <p class="deal-info"><span class="deal-type">手动平仓</span> 3分钟前</p>
            </div>
            <span class="col-sm-2 currency"> 1.2057 </span>
            <span class="col-sm-2 currency up"> 1.2057 </span>
            <span class="col-sm-2 currency down"> 120.57 </span>
        </li>
        <li class="clearfix">
            <div class="col-sm-5">
                <p>买入 <span class="forex-type">EUR/CHF</span></p>
                <p class="deal-info"><span class="deal-type">手动平仓</span> 3分钟前</p>
            </div>
            <span class="col-sm-2 currency"> 1.2057 </span>
            <span class="col-sm-2 currency up"> 1.2057 </span>
            <span class="col-sm-2 currency down"> 120.57 </span>
        </li>
        <li class="clearfix">
            <div class="col-sm-5">
                <p>买入 <span class="forex-type">EUR/CHF</span></p>
                <p class="deal-info"><span class="deal-type">手动平仓</span> 3分钟前</p>
            </div>
            <span class="col-sm-2 currency"> 1.2057 </span>
            <span class="col-sm-2 currency up"> 1.2057 </span>
            <span class="col-sm-2 currency down"> 120.57 </span>
        </li>
        <li class="clearfix">
            <div class="col-sm-5">
                <p>买入 <span class="forex-type">EUR/CHF</span></p>
                <p class="deal-info"><span class="deal-type">手动平仓</span> 3分钟前</p>
            </div>
            <span class="col-sm-2 currency"> 1.2057 </span>
            <span class="col-sm-2 currency up"> 1.2057 </span>
            <span class="col-sm-2 currency down"> 120.57 </span>
        </li>
    </ul>
    <a href="javascript:void(0)" class="ft text-center">
        加载更多...
    </a>
</div>
