<div id="personal-history-chart">
    <div class="hd-sub clearfix">
        <p class="pull-left title">资产净值曲线</p>
        <div class="dropdown pull-right" drop-down>
            <button class="btn btn-defalut dropdown-toggle" ng-click="toggleDropdown()">
                <span class="dropdown-toggle-text">{{currentPain}}</span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-class="{'show': showDropdown}">
                <li>
                    <a href="" ng-click="rePaintStock(7, '一周')" ng-class="{'active':  currentPain === '一周'}">一周</a>
                    <a href="" ng-click="rePaintStock(30, '一个月')" ng-class="{'active':  currentPain === '一个月'}">一个月</a>
                    <a href="" ng-click="rePaintStock(90, '三个月')" ng-class="{'active':  currentPain === '三个月'}">三个月</a>
                    <a href="" ng-click="rePaintStock(180, '六个月')" ng-class="{'active':  currentPain === '六个月'}">六个月</a>
                    <a href="" ng-click="rePaintStock(365, '一年')" ng-class="{'active':  currentPain === '一年'}">一年</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bd-sub">
        <div highcharts-stock></div>
    </div>
    <div class="hd-sub">
        <p class="title"> 账户概况 </p>
    </div>
    <div class="bd-sub table-info">
        <div class="row border">
            <div class="col-sm-4 border-right">
                <p>盈利率</p> <p class="number-danger">{{summary.profit_rate}}%</p>
            </div>
            <div class="col-sm-4 border-right">
                <p>胜率</p> <p class="number-info">{{summary.percent_profitable}}%</p>
            </div>
            <div class="col-sm-4">
                <p>获利点数</p> <p class="number-info">{{summary.total_pips}}</p>
            </div>
        </div>
        <div class="row border">
            <div class="col-sm-4 border-right">
                <p>总订单数</p> <p class="number-info">{{summary.total_orders}}</p>
            </div>
            <div class="col-sm-4 border-right">
                <p>总交易数</p> <p class="number-info">{{summary.total_volume}}</p>
            </div>
            <div class="col-sm-4">
                <p>近30天交易手数</p> <p class="number-info">{{summary.monthly_volume}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 border-right">
                <p>最牛交易</p> <p class="number-info">{{summary.max_rate}}%</p>
            </div>
            <div class="col-sm-6">
                <p>最差交易</p> <p class="number-info">{{summary.min_rate}}%</p>
            </div>
        </div>
    </div>
</div>
