<div class="personal-sidebar">
    <div class="thumbnail text-center">
        <img class="img-circle" src="http://placehold.it/110x110" alt="thumbnail" />
        <div class="caption">
            <h3>User name</h3>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li class="">
            <a href="">Home</a>
        </li>
        <li class="">
            <a href="">入金</a>
        </li>
        <li class="">
            <a href="">出金</a>

        </li>
    </ul>
</div>

