<div id="tigerwitLogin" class="row module">
    <div class="container">

        <div class="col-lg-7 clearfix text-center box-slogan">
            <img src=" http://placehold.it/520x210" alt="" />
            <p>老虎汇为香港证监会认可的持牌法团（中央编号：AZT137），提供证券交易服务并受其监管。</p>
        </div>

        <div class="col-lg-4 box-login">
              <h2>登录</h2>
              <div class="form-group clearfix">
                <div class="col-sm-11">
                    <input type="text" class="form-control"
                    id="inputName" placeholder="手机号码"
                    data-validate="phone"
                    ng-model="login.phone">
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="col-sm-11">
                    <input type="password" class="form-control"
                    data-validate="id"
                    id="inputIDNumber" placeholder="登录密码"
                    ng-model="login.password">
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="col-sm-11 text-center">
                  <button type="submit"  ng-click="loginFun();" class="btn btn-primary btn-ex-lg">登录</button>
                  <p ng-class="{'show': login.error_msg != undefined}"
                  class="color-danger text-center hide">{{login.error_msg }}</p>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="col-sm-11">
                  <div class="pull-left">
                      <input type="checkbox" name="login-auto"
                      id="login-auto" ng-checked="login.expires" />
                      <label for="login-auto">自动登录</label>
                  </div>
                  <span class="pull-right">
                      <a href="#/regist" target="_blank">立即注册</a> | 
                      <a href="#/reset" target="_blank">忘记密码</a>
                  </span>
                </div>
              </div>
        </div>
    </div>
</div>
