<div id="tigerwitRegisterSucc" class="row module tigerwitSuccForm" ng-keyDown="keyDown($event);">
    <div class="container container-module">
      <h2 class="h2">注册成功</h2>
      <div class="container text-center">
          <span class="icon-succ-lg"></span>
          <p>恭喜您获得老虎汇账号</p>
          <div class="wrapper-btn">
              <div class="primary-btn-wrapper">
                  <a href="/#/regist?type=virtual2real" class="btn btn-md btn-primary">开通真实账户</a>
                  <p>立刻入金既可获取20美金开户赠金</p>
              </div>
              <a href="/#/personal" class="mg-lf-30 btn btn-md btn-default">进入个人中心</a>
              <a href="" target="_blank" class="mg-lf-30 btn btn-md btn-default">下载交易软件</a>
          </div>
      </div>
    </div>
</div>

