<div id="tigerwitRegisterSucc" class="row module" ng-keyDown="keyDown($event);">
    <div class="container container-module">
      <h2 class="h2">注册成功</h2>
      <div class="container text-center">
          <img src=" http://placehold.it/100x100" alt="" class="icon-succ-lg"/>
          <p>恭喜您获得老虎汇账号</p>
          <div class="wrapper-btn">
              <a href="" target="_blank" class="btn btn-md btn-primary">进入个人中心</a>
              <a href="" target="_blank" class="btn btn-md btn-default">开通真实账户</a>
              <a href="" target="_blank" class="btn btn-md btn-default">下载交易软件</a>
          </div>
      </div>
    </div>
</div>

