<div class="container">
  <div class="static-content">
      <p>
      <button class="btn tab-button btn-gradient-unactive" ng-class="{'btn-gradient-info': showTab == undefined || showTab == 'install'}" ng-click="showTab = 'install'">下载 MT4 安装包并安装</button><button class="btn tab-button btn-gradient-unactive" ng-class="{'btn-gradient-info': showTab == 'deal'}" ng-click="showTab = 'deal'">登陆及操作指南</button>
      </p>
      <div ng-show="showTab == undefined || showTab == 'install'">
          <img src="/images/guides_install/1.jpg" alt="" />
          <p>双击安装包，点击下一步；</p>
          <img src="/images/guides_install/2.jpg" alt="" />
          <p>请在方框内打勾，然后点击下一步；</p>
          <img src="/images/guides_install/3.jpg" alt="" />
          <p>点击下一步；</p>
          <img src="/images/guides_install/4.jpg" alt="" />
          <p>请耐心等待安装下载，大约要持续1 - 3分钟。点击完成：</p>
          <img src="/images/guides_install/5.jpg" alt="" />
          <p>点击下一步；</p>
          <img src="/images/guides_install/6.jpg" alt="" />
          <p>选择现有交易账户，输入您的 MT4 账号，密码，点击完成；</p>
          <img src="/images/guides_install/7.jpg" alt="" />
      </div>
      <div ng-show="showTab == 'deal'">
          <p>登录：输入账号密码，模拟账户选择服务器为 TigerWit-Demo, 真实账户选择 TigerWit-Live;</p>
          <img src="/images/guides_deal/1.jpg" alt="" />
          <p>进入平台</p>
          <img src="/images/guides_deal/2.jpg" alt="" />
          <p>双击您所想要交易的货币对；或者在您想要交易的报价上点击鼠标右键，选择新订单；</p>
          <img src="/images/guides_deal/3.jpg" alt="" />
          <p>就可以看到订单窗口；</p>
          <img src="/images/guides_deal/4.jpg" alt="" />
          <p>请确认：</p>
          <p>1：交易品种。</p>
          <p>2：您所要交易的手数：外汇、黄金、白银最低0.01手/单；CFD 产品，最低0.01手/单，最高10手/单。但是不限制你的持单量，我们建议保持低单量，轻仓位交易。</p>
          <p>3：交易方向：点击 “买” 是看涨此货币对，点击 “卖” 是看空此货币对。</p>
          <p>购买成功后，平台会提示成功；</p>
          <img src="/images/guides_deal/5.jpg" alt="" />
          <p>在终端栏的交易历史里，可以看到持有的单子；</p>
          <img src="/images/guides_deal/6.jpg" alt="" />
          <p>当打算平仓时，鼠标点到要平仓的单子，单击右键，选择 “平仓” ；</p>
          <img src="/images/guides_deal/7.jpg" alt="" />
          <p>查看交易的品种，点击黄色 “平仓” 键；</p>
          <img src="/images/guides_deal/8.jpg" alt="" />
          <p>查看交易品种，会跳出成功的通知；</p>
          <img src="/images/guides_deal/9.jpg" alt="" />
          <p>在终端栏里，单击账户历史，可以看到刚才已平仓的单子；</p>
          <img src="/images/guides_deal/10.jpg" alt="" />
          <p>这已经非常的枯燥乏味了，所以如何修改止盈止损，如何挂单，我就不再做截图了。</p>
      </div>
  </div>
</div>

