<div id="tigerwit-cooperation" class="row">
    <div class="hd-sub">
        <p class="container">媒体合作</p>
    </div>
    <div class="bd-sub container container-module">
        <div class="banner">
            <img src="/images/marketing/cooperation.jpg" alt="" />
        </div>
        <div class="static-content">
            <div class="board">
                <div class="board-title">新闻报道 </div>
                <div class="board-content">
                </div>
            </div>
        </div>
    </div>
</div>
