<div id="faq-virtual">
    <div class="hd-title">
        <p class="title">开立模拟账户</p>
    </div>
    <div class="bd-content">
        <h4>如何开立模拟账户？</h4>
        <p>您可以通过网站注册获得 TigerWit 的账户。</p>
        <h4>我的MT4模拟账户会过期吗？</h4>
        <p>只要您在30天内有登录和交易存在，您的MT4模拟账户将会无限期有效，否则，您的模拟账户将被服务器自动删除。</p>
        <h4>在开设模拟账户的最后一步时，我没有获得用户名和密码，该怎么办？</h4>
        <p>注册成功后，您可以1.在网站上直接交易，2.下载手机版本登录交易，3.下载MT4专家版，输入MT4账号密码登录，MT4账号在您网站的个人中心可以查到。</p>
        <p>如果您对登录还有疑问，请联系我们的客服。</p>
        <h4>如何向我的模拟账户充值？</h4>
        <p>模拟账户默认有1万美元的资金量，如果您还需要更多的模拟资金，请您联系我们。</p>
    </div>
</div>
