<div id="faq-deal">
    <div class="hd-title">
        <p class="title">交易</p>
    </div>
    <div class="bd-content">
        <h4>市场的交易时段是什么?</h4>
        <p>夏令时从每年3月的第2个星期日开始，结束在11月的第1个星期日，夏令时间之外为冬令时。</p>
        <img style="width: 100%" src="/images/marketing/platform-time1.png">
        <p>贵金属商品交易时间，参照如下</p>
        <p>夏令时从每年3月的第2个星期日开始，结束在11月的第1个星期日，夏令时间之外为冬令时。</p>
        <img style="width: 100%" src="/images/marketing/platform-time2.png">
        <h4>我下的单被强行平仓。 为什么？</h4>
        <p>您的订单被强制平仓了，当标准账户和白金帐户的保证金比率（保证金/使用的保证金）低于30%，公司会从你损失最大的订单开始平仓的。</p>
        <h4>我收到“重新报价”信息。 这是什么意思？</h4>
        <p>如果出现大幅的市场波动，价格会急剧变化。 在此情况之下，我们需要向您提供新的最新市场价。 在此情况下，您可以接受新的重新报价或者拒绝新的价格并取消交易的执行。 取得重新报价的另一个可能的原因在于因特网连接缓慢或出现故障，延迟了订单传输；意味着您在交易平台上看到的是以前的价格而非当前市场价格。
        </p>
        <h4>你们是否支持跟踪止损（Trailing Stops）和智能交易系统（Expert Advisors）？</h4>
        <p>我们的平台支持此类功能。 您应当注意，尽管在您的客户端使用了诸如跟踪止损和智能交易系统等附加功能，但交易操作的执行完全应由您承担责任，因为它们直接依赖于您的客户交易终端。</p>
        <p>如果您的智能交易系统有攻击服务器的行为，TigerWit 有权利拒绝您的智能交易系统。</p>
        <h4>为什么单子没有按照已经设置好的止盈止损价格成交？</h4>
        <p>请注意，平仓时将按市场实际价格成交。如果当时市场上有跳空，那么将根据跳空后的第一口价格成交，那么可能会与您设置的止盈止损价格有所出入。</p>
        <h4>当我在Mac系统上安装MT4时，被系统屏蔽并跳出软件来自于“未知开发者”或类似的提示。我该怎么办？</h4>
        <p>Mac系统初始安全设置为只接受并安装来自于苹果应用商店的软件。您可以从系统参数>安全和隐私中改变这个设置。在桌面上点击屏幕左下角的图标以打开控制面板 请点击菜单上的任何一处以应用这些设置</p>
        <h4>为什么欧美/英美（例如30点）点差 这么高？</h4>
        <p>请注意， 为客户提供更全面，优惠的价格，我们使用尾数点差价格。我们使用5位小数，而不是4为小数。因此， 买卖价相差30实际为为3.0点。</p>
        <h4>为什么我的隔夜利息这么高？</h4>
        <p>星期三持仓隔夜的仓位隔夜利息将是平常的三倍。</p>
    </div>
</div>
