<div id="faq-deposit">
    <div class="hd-title">
        <p class="title">出入金</p>
    </div>
    <div class="bd-content">
        <h4>我可以通过哪些不同的支付方式向我的账户入金？</h4>
        <p>您可以使用以下的任何支付方式向您的账户入金：</p>
        <p>银行汇款</p>
        <p>银联卡在线支付</p>
        <h4>我的资金需要多长时间才能存入我的交易平台？</h4>
        <p>一旦收到您的资金，我们将于以下规定时间以内将其计入您的交易账户：</p>
        <p>银行汇款：将受到您的银行和代理银行时间安排的影响。我们承诺在我们的客户银行账户收到资金后一个小时以内将其计入您的交易账户。</p>
        <p>银联卡在线支付：实时到账。</p>
        <h4>如果我要提款，需要多长时间才能打入我的个人账户？</h4>
        <p>我们会在一个工作日内响应您的取款申请。不同银行到账时间略有不同，请以具体到账时间为准。</p>
        <h4>如果我想从交易账户中取款需要做些什么？</h4>
        <p>非常简单。 您只需要登录我们的网站个人中心提出提款请求，输入您本人的银行卡信息即可，我们的客服人员会协助您处理。
</p>
        <p>请注意：我们不接受任何第三方出入金，请务必使用本人银行卡办理取款。</p>
        <h4>当我还有未结头寸时，是否能够提款？</h4>
        <p>是的，您可以。 但是您需要注意，付款时您的可用保证金的金额必须要超出您提款指令所指定的金额。如果您没有足够的资金，那么您的请求将被视为取消，您需要重新提交新的提款请求。</p>
        <p>请注意：为了防止出现账户保证金过低等风险，我们建议空仓取款，或者在取款前请减轻仓位，剩余足够保证金。
</p>
        <h4>开立交易账户的最低金额是多少？</h4>
        <p>最低金额为200美元。</p>
        <h4>交易账户中的资金已显示移除，为什么我还没有收到出金金额？</h4>
        <p>出金申请金额已被成功批准。请密切关注您的收款银行确认资金。</p>
        <h4>赠金可以出金吗？</h4>
        <p>关于赠金能否出金的问题，请关注相关活动说明或咨询在线客服。</p>
        <h4>取款是否收费？</h4>
        <p>对于正常交易的客户存取款不收取费用。对于以下客户，取款时会收取手续费：</p>
        <p>入金30天内未做任何交易，申请出金，收取取款金额5% 的手续费。</p>
        <p>入金30天内做了部分交易，收取取款金额3.5%的手续费。</p>
        <p>入金30天以上未做任何交易，申请出金，收取取款金额3.5% 的手续费。</p>
        <p>入金30天以上，有正常交易，每自然月免费取款一次。多出的每笔收取$20美元费用</p>
    </div>
</div>
