<div id="faq-security">
    <div class="hd-title">
        <p class="title">资金保护</p>
    </div>
    <div class="bd-content">
        <h4>TIGERWIT是如何保护客户的资金的？</h4>
        <p>保护客户的资金，是TIGERWIT资金安全承诺的一个重要部分。作为TIGERWIT的监管方，英国金融行为监管局(FCA)在客户资金的保护方面有详细、严格的规定。TIGERWIT通过实施“客户资金隔离存放”和“金融服务补偿计划(FSCS)”来保护客户的资金。</p>
        <h4>什么是“客户资金隔离存放”？</h4>
        <p>根据英国金融行为监管局(FCA)客户资产条例第7条，所有TIGERWIT零售客户的资金和公司自有资金完全隔离，并单独放置于全球顶级银行。</p>
        <h4>TIGERWIT客户的资金存放在哪里？</h4>
        <p>TIGERWIT零售客户的资金单独存放于不同的全球顶级银行，如英国巴克莱银行、摩根大通银行、德国商业银行等。</p>
        <h4>什么是“金融服务补偿计划”？</h4>
        <p>“金融服务补偿计划” (FSCS)是英国为经授权金融服务公司的顾客提供最終索赔途径的赔偿基金。如果某家公司无能力、或可能将无能力支付向其提出的索赔，该计划可能会支付赔偿。</p>
        <h4>万一TIGERWIT遭遇破产，我的资金怎么办？</h4>
        <p>在TIGERWIT遭遇破产清算的情况下，被隔离的客户资金将在核算后返还给客户。如果仍然有亏缺，客户有可能通过“金融服务补偿计划“ (FSCS)获得高达50,000英镑的补偿。
我如何了解更多“金融服务补偿计划”的信息？</p>
        <h4>我如何了解更多“金融服务补偿计划”的信息？</h4>
        <p><a href="http://www.fscs.org.uk/uploaded_files/Translated_material/fscs_web_doc_simplified_chinese_2.pdf" target="_blank">点击了解“金融服务补偿计划”详情（中文）</a></p>
        <p>FSCS 官网 (英文)：<a href="www.fscs.org.uk" target="_blank">www.fscs.org.uk</a> </p>
    </div>
</div>
