<div id="tigerwit-about" class="row">
    <div class="hd-sub">
        <p class="container">隐私政策</p>
    </div>
    <div class="bd-sub container container-module">
        <div class="banner">
            <img class="" src="/images/marketing/privacy.jpg" alt="" />
        <div class="static-content">
            <h4>个人数据</h4>
            <p>在双方合作过程中我们要求您提供的个人数据安全地存储于我们的电子系统中，且被视为保密信息，并受数据保护法案保护。根据TigerWit的政策，除非客户同意或因法律或法规之要求，否则其不会向非联营第三方透露客户信息。个人信息包括但不限于姓名、出生日期、电子邮件、住址、银行信息、财务状况、交易活动、账户交易历史记录信息、KYC表格（know your customer客户投资问卷暨投资风险承受度测试分析记录表）。</p>
            <h4>安全技术</h4>
            <p>TigerWit 采用保密插口层 (SSL) 加密技术来保障阁下所提供的资料。这种技术能保障阁下的资料于传送往TigerWit 途中免受他人拦截及盗取。TigerWit 致力确保网站安全及符合业界的标准。TigerWit 同时使用其他资料保障工具，例如防火墙、认证系统(如：密码和个人身份号码)和操控机制来控制未获授权的系统进入和资料存取。</p>
            <h4>获取个人数据</h4>
            <p>除为交易过程的必要所需，和按保密手段管理客户账户之需或法律要求，否则TigerWit不会透露此类信息。 此类信息的获取局限于“需了解”此类信息以为客户和/或TigerWit提供服务的第三方和/或TigerWit员工。 无论何种情况，TigerWit都会通过实体，电子和程序控制来保护此类信息。控制措施可以：(i) 确保客户记录和信息的安全性和保密性； (ii) 预防可预测到的会对客户记录和信息的安全性或一致性造成的危险或灾害；和 (iii) 防止不经授权的获取或使用客户记录和信息而给客户带来的损害或不便。</p>
            <h4>市场与沟通</h4>
            <p>TigerWit会通过电子邮件随时与您进行联系，为您提供有关市场走势的信息，和/或告知您市场材料，培训和教学或询问您对服务的评价。您可以通过点击发送给您的邮件底部的取消订阅链接来随时退出此项应用。</p>
        </div>
    </div>
</div>
