<div id="tigerwit-about" class="row">
    <div class="hd-sub">
        <p class="container">风险揭露</p>
    </div>
    <div class="bd-sub container container-module">
        <div class="static-content">
            <h4>高风险投资</h4>
            <p>外汇保证金交易属高风险投资行为，并不一定适合每位投资者需求，投资应谨慎考虑投资标的、预期效益、财务状况及外汇相关知识及经验。TigerWit 提供的一般性建议并未考虑您的投资标的、财政状况或需求。投资者应认识并了解保证金交易有关的一切风险，即使损失全部账户余额也不至改变其生活形态。Tiger Wit 网站、文宣或其他任何文件、任何内容不可被诠释为投资指导内容。客户如需任何投资指导，应向其他独立金融顾问查询。</p>
            <h4>市场评论</h4>
            <p>发布于本网站的任何评论、新闻、研究、分析、价格及其他资料皆为市场资讯，仅供参考使用，并不成立投资建议。TigerWit 不会承担任何因直接或间接使用或依赖此资料而造成的交易亏损或其他损失（包括但不限于任何于外汇保证金交易相关的损失）。 </p>
            <h4>网络交易风险</h4>
            <p>网络交易系统有一定程度的风险。由于 TigerWit 不能控制包括连接信号的强弱、透过网络的接收或发送路径情况、顾客设备的状态或其连结的可靠性等，因此 Tiger Wit 不会对网络交易过程中出现的通讯故障、误传、延误或任何传送或通讯系统或计算机设施或交易软件所直接或间接引起的任何损失、或费用(包括律师费)负担责任。Tiger Wit 设有管理系统和紧急处理方案，降低系统故障的可能性。</p>
            <h4>资料准确性</h4>
            <p>本网站的任何数据或内容仅为协助交易者作出独立投资决定而提供 TigerWit 拥有随时更改的权利，并且不会事先通知。TigerWit 对于网站资料的准确性已采取合理措施，但不能保证资料的精确。因此 TigerWit 不会对于直接或间接因网站提供的任何数据或内容或网站登录失败、或透过本网站发出的任何指示或通知在传送或接收上出现延误或未能传送或接收而可能导致客户的亏损或损失负责。</p>
            <h4>营销</h4>
            <p>本网站不为任何违法人士提供业务服务。浏览本网站的用户，请遵守所属国家/地区的法规。</p>
            <h4>市场风险及在线交易 </h4>
            <p>交易平台提供精密的下单功能，TigerWit 将竭力依照客户所要求的价格执行交易。虽然在线交易方便省时兼有效率，但并不会降低外汇交易所涉及的风险。 </p>
        </div>
    </div>
</div>
