<div id="tigerwit-rules" class="row">
    <div class="hd-sub">
        <p class="container">交易规则</p>
    </div>
    <div class="bd-sub container container-module">
        <div class="banner">
            <img class="" src="/images/marketing/rules.jpg" alt="" />
        </div>
        <div class="static-content">
            <h4>外汇</h4>
            <p>外汇原指货币兑换率（EXCHANGERATE）。简单来说，是一个国家的货币兑换别国的货币称为外汇；即国家与国家之间，国贸易、投资、旅游等经济往来，引起货币间支付的关系。由于各国货币不同，在国外支付时，必须先将本国货币兑换成外国货币，或是收到外国的外币，换成本国货币才得以在国内流通，从而产生了货币兑换的关系。</p>
            <p>而外汇市场是一个先进的电讯网路，不受时空限制，透过电子通讯设备进行买卖。汇市是一个庞大的国际化的交易市场，外汇价格会市场对不同货币的供求而变化，不易受人为操纵，买卖时间差不多长达24小时。</p>
            <h4>汇率</h4>
            <p>汇率是指两种不同货币之间的兑换价格。如果把外汇也看作是一种商品，那么汇率即是在外汇市场上用一种货币购买另一种货币的价格。例如，l美元＝110日元，表示1美元可换110日元。汇率的表示方法有直接标价法和间接标价法。</p>
            <h4>直接标价法和间接标价法</h4>
            <p>直接标价法是指以一定单位的外国货币为基准，将其折合为一定数额的本国货币的标价方法，目前大多数国家采用这种标价法；日元、瑞士法郎、加拿大元、港币、新加坡元均采用直接标价法，如1美元=115.25日元；1美元=1.47加拿大元等。</p>
            <p>间接标价法是指以一定单位的本国货币为基准，将其折合为一定数额的外国货币的标记方法。欧元、英镑、澳大利亚元采用间接标价法，如1英镑=1.6025美元；1欧元=1.5680加拿大元；1欧元=1.0562美元；1澳大利亚元=0.5922美元等。</p>
            <h4>基本汇率和交叉汇率</h4>
            <p>基本汇率（也叫直盘或基础汇率）：一般指一国货币与美元的比价。</p>
            <p>交叉汇率（也叫交叉盘）：是指两种非美元货币之间的比价，交叉汇率可从基本汇率套算而来。</p>
            <h4>买入价和卖出价</h4>
            <p>买入价（Bid rate）客户向交易商购买外汇时所用的汇率。</p>
            <p>卖出价(Offer rate)客户向交易商卖出外汇时所用的汇率。</p>
            <p>外汇中间价是买入汇率和卖出汇率的平均数。</p>
            <p>当您预测一个商品有上涨的趋势时，将以买入价进入市场；以卖价平仓离开市场。当您预测一个商品有下跌的趋势时，将以卖出价进入市场，以买价平仓离开市场。</p>
            <h4>外汇市场</h4>
            <p>广义的外汇市场泛指进行外汇交易的场所，甚至包括个人外汇买卖交易场所，外币期货交易所等；狭义的外汇市场指以外汇专业银行、外汇经纪商、中央银行等为交易主体，通过电话、电传、交易机等现代化通讯手段实现交易的无形的交易市场。</p>
            <p>目前世界主要的外汇市场包括欧洲的伦敦、法兰克福、巴黎、苏黎世外汇市场、北美的纽约、亚洲的东京、香港、新加坡外汇市场、澳洲的悉尼、惠灵顿市场，这些市场时间上相互延续，共同构成了全球不间断的外汇市场，其中以伦敦外汇市场的交易量为最大，因此欧洲市场也是流动性较强的一个市场，而纽约外汇市场波动幅度经常较大，主要是由于美国众多的投资基金的运作以及纽约市场上经常会发生一些对于外汇影响较大的事件，例如美联储利率决定，公布美国重要经济数据等。了解各个市场的特性，对于理解汇率的真实性和进行汇率预测有一定帮助。通常我们所说的当日收盘是指纽约收盘。</p>
            <p>外汇市场的参与者主要包括外汇银行、中央银行、外汇投机者、外汇经纪公司、大型投资基金、实际外汇供求者等。通过了解外汇市场参与者的资金动向对于预测走势也有很大帮助，例如日本财务年度的资金汇回日本会造成日元的升值压力，英国公司对于德国公司的大型收购案会构成欧元/英镑交叉盘的上升，日本央行通过抛售日元干预汇市会造成日元的贬值、日本投资者在澳洲发行澳元计价的债券会造成澳元/日元交叉盘的上升等等。只要善于分析交易主体的动向和特点，都会从一些蛛丝马迹中寻求汇率的方向。</p>
            <h4>外汇及外汇交易</h4>
            <p>外汇市场，也称为“Forex”或“FX”市场，是全球最大的金融市场，日交易量5.4兆美元。</p>
            <p>每一种货币，都有国际统一的符号，如：</p>
            <table class="table table-bordered table-define">
                <thead>
                    <tr>
                        <td>货币符号</td>
                        <td>币种</td>
                        <td>货币符号</td>
                        <td>币种</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>EUR</td>
                        <td>欧元</td>
                        <td>JPY</td>
                        <td>日元</td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>英镑</td>
                        <td>NZD</td>
                        <td>新西兰元</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>美元</td>
                        <td>AUD</td>
                        <td>澳元</td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td>瑞士法郎</td>
                        <td>CAD</td>
                        <td>加拿大元</td>
                    </tr>
                </tbody>
            </table>
            <p>外汇是以货币对形式交易，例如：欧元/美元(EUR/USD)或美元/日元(USD/JPY)。</p>
            <p>对于新手而言，要理解一个外汇交易报价似乎很困难，其实只要掌握两个基本点，判读报价就会变得十分方便。</p>
            <p>1)前面的货币是基础货币。</p>
            <p>2)基础货币的价值总是以1为单位。例：美元/日元120.01，在这组报价中，美元即为基础货币。美元/日元120.01，意味着1美元等于120.01日元。无论买/卖，都是在交易基础货币。</p>
            <h4>点</h4>
            <p>国际外汇市场上，汇率的价格共有5位数字，汇率价格的最后一数，称之为一点，如美金兑日元为114.51中的0.01、欧元兑美金为1.2801中的0.0001，都称作为一点，这是汇率变动的最小基本单位。</p>
            <p>Tiger Wit 采用的是多一位报价。例如，英镑/美元汇率自1.62571变动至1.62581，其变动水平就是1.0个基本点。</p>
            <p>在外汇交易中，您会看到一个两边的报价，由买价与卖价组成。买价与卖价的差别为点差，Tigerwit通过买卖的点差获利。</p>
            <h4>T+0</h4>
            <p>T+0，是一种证劵（或期货、现货）交易制度。凡在证劵（或期货）成交当天办理好证劵（或期货）和价款清算交割手续的交易制度，就称为T+0交易。对于外汇市场来说，就是当天买入的外汇在当天就可以卖出。</p>
            <h4>保证金制度</h4>
            <p>保证金是利用杠杆比率，提高购买力的方法。如果您有5,000美元现金在一个保证金帐户中，并允许100：1的杠杆率，您可以买到最高价值500,000美元的外汇，因为您仅需在您的帐户显示购买价格的1%作为担保，换句话说，您拥有购买$500,000的购买能力。</p>
            <h4>保证金比例</h4>
            <p>净值÷已用保证金＝保证金比例。当保证金比例低于100%，系统将会进行强制平仓。</p>
            <h4>可用保证金</h4>
            <p>净值－已用保证金＝可用保证金</p>
            <h4>已用保证金</h4>
            <p>已用保证金指所有用于建仓而被冻结使用的保证金总和。</p>
            <h4>杠杆比例</h4>
            <p>杠杆比例指在开启仓位时所需要的保证金和该商品合约价值之间的比率。即合约价值÷起始保证金＝该商品杠杆比率。Tigerwit为客户提供25、50、100和200倍的杠杆；例如，您的账户资金为1,000.00美元，杠杆比例为200，您的最大交易量可达20万美元（1,000.00美元*400倍=400, 000.00美元）。</p>
            <h4>定单及其类型</h4>
            <p>定单是交易商提供执行交易的指令。客户终端包括以下几种类型的定单：市价成交、挂单交易、止损/获利以及追踪止损。</p>
            <h4>隔夜利息</h4>
            <p>隔夜利息指持仓隔夜需要支付或者获得的利息。每种货币都有本身的利率，而每项外汇交易涉及两种货币，因此同时涉及两个不同的利率。买入的货币利率高于卖出货币的利率，您就可以赚取隔夜利息。若买入的货币利率低于卖出货币的利率，您就需要支付隔夜利息；比方说，英国的基准利率高于日本，因此如果一个客户买入英镑，他/她将会在美东时间下午5点赚取到隔夜利息；相反，如果他/她是卖出英镑，那么他/她将需要在美东时间下午5点支付隔夜利息。根据国际银行的规定，Tigerwit于美东时间每天下午5点自动将所有未平掉的开启仓位滚存至下一个结算日。</p>
            <h4>“日间交易”与“隔夜交易”的区别</h4>
            <p>日间头寸指在 24 小时内建立，并在美东时间下午 5 点交易日收盘之前平仓的头寸 。 隔夜头寸指在正常交易时间 ( 美东下午 5 点 ) 后未平仓的头寸，Tigerwit以有竞争力的价格 ( 在货币利息差别的基础上 ) 将隔夜头寸自动延展至下一个交易日，并计算到交易者的账户余额中去。</p>
            <h4>合约单位</h4>
            <p>伦敦金/银市场中以美元标价，以盎司作为计量单位。伦敦金每手合约单位为100盎司；伦敦银每手合约单位为5000盎司。</p>
            <h4>净值</h4>
            <p>即已将未平仓定单的盈亏列入计算所显示的实际余额，会随仓位的盈亏而变动。</p>
            <h4>止损价</h4>
            <p>止损价是一种保护机制，指当某一投资出现的亏损到达设定的止损价时，系统自动执行指令及时斩仓出局避免形成更大的亏损。目的在于即使投资失误时该止损点把损失限定在较小的范围内。</p>
            <h4>爆仓</h4>
            <p>当我们账户里除了已经使用的保证金外，剩余的钱也就是可用保证金为0的时候。就会爆仓。也就是强行平仓。通常强行平仓都从亏损最大的订单开始，直到保证金比例恢复到平台规定的比例。</p>
            <h4>开仓</h4>
            <p>即建仓，在某一价位首次买进或卖出的成交行为。</p>
            <h4>平仓</h4>
            <p>把买进单在现价位卖出，把卖出单在现价位买进，以结束交易。</p>
            <h4>保本平仓</h4>
            <p>在保本或有微利的情况下结束交易。</p>
            <h4>获利了结</h4>
            <p>赚到钱后将交易对象平仓，即卖出已买进的，买进已卖出的。</p>
            <h4>挂单</h4>
            <p>设定一个想成交的价格，让交易系统在该价格达到的时候自动成交。</p>
            <h4>止损</h4>
            <p>方向错误时，在某价位立刻平仓认赔。</p>
            <h4>止盈</h4>
            <p>到达预定的获利目标后，立刻获利了结。</p>
            <h4>撤单</h4>
            <p>把已经预先委托的交易单取消。</p>
            <h4>锁仓</h4>
            <p>在没有平仓之前又开仓了一张和原有方向反向的、等量的交易单，以防止行情反向发展时扩大亏损。一般当交易者亏损了帐户金额的70%时，经纪商即开始锁仓。</p>
            <h4>交易时间</h4>
            <p>夏令时从每年3月的第2个星期日开始，结束在11月的第1个星期日，夏令时间之外为冬令时。</p>
            <img style="width: 100%" src="/images/marketing/platform-time1.png">
            <p>贵金属商品交易时间，参照如下</p>
            <p>夏令时从每年3月的第2个星期日开始，结束在11月的第1个星期日，夏令时间之外为冬令时。</p>
            <img style="width: 100%" src="/images/marketing/platform-time2.png">
            <h4>主要货币符号</h4>
            <p>每种货币都有一个固定的由3个字母组成的国际标准组织( ISO)代码标志。例如美元：USD、日元：JPY、欧元：EUR、英镑：GBP、瑞士法郎：CHF、加拿大元：CAD、澳大利亚元： AUD、新西兰元：NZD。货币对由两个ISO代码加一分隔符表示，例如GBP/USD，其中第一个代码代表“基本货币”，另一个则是“二级货币”。</p>
            <h4>主要货币对</h4>
            <p>所有与美元兑换的货币对叫做“主要货币对”。其中最重要的四种主要货币对是：EUR/USD即欧元/美元、 GBP/USD 即英镑 / 美元 ( 通常也称作 “Cable”) 、 USD/JPY 即美元 / 日元、 USD/CHF 即美元 / 瑞郎。</p>
            <h4>交叉汇率</h4>
            <p>非美元的货币对称作 “ 交叉盘 ” 。从上述主要货币对中，可以得出英镑、欧元、日元和瑞郎的交叉汇率。</p>
            <h4>点差(差价)</h4>
            <p>与其它金融商品一样，买卖价之间的差额就称之为 “ 点差(差价) ” 。差价有特定形式来表示，例如 GBP/USD = 1.5545/50 就意味着 1GBP 的买方出价是 1.5545 USD ，而卖方要价为 1.5550 USD 。当中的点差(差价)为 5 个点。</p>
            <h4>交易单位(手)</h4>
            <p>每次外汇交易是以一种货币兑换另一种货币。外汇保证金投资者的基本交易单位称作 “lot” ，翻译成中文，就是“一手”的意思。一手由 10 万单位基本货币组成(但迷您 lot 交易 , 以 10,000 元为交易基本单位)。购买一个 lot 的 GBP/USD 即以 1.5852 美元兑换 1 英镑的价格购买 10 万英镑，计 158,520 美元。类似地，卖出一个 lot 的 GBP/USD 即以 1 英镑兑换 1.5847 美元的价格卖出 10 万英镑，计 158,470 美元。</p>
            <h4>做空与做多</h4>
            <p>当您买入一种货币时，您就是对该货币 “ 做多 ” 。多仓是以卖方要价建立的。这样如果您在报盘为 1.5847/52 时买入一单 GBP/USD ，那么您将以 1 英镑兑 1.5852 美元买入 10 万英镑。当您卖出一种货币时，您就是对该货币 “ 做空 ” 。空仓是以买方出价建立的，在我们的例子中即 1 英镑兑 1.5847 美元。</p>
            <h4>看涨</h4>
            <p>假设当前 GPB/USD 的汇率是 1.5847/52 。您预计英镑会相对于美元升值，所以您以卖方要价 1 英镑兑 1.5852 美元买入(做多)一单即 10 万英镑。合约价值是 100,000 X $1.5852 = $158, 520 。交易商对美元保证金 的要求是 1% ，所以您必须保证在您的保证金帐户上至少存有 1% X $158,520 =$ 1585.2 。 GBP/USD 果真升值到 1.6000/05 ，您这时决定通过以买方出价汇率卖出英镑、买回美元，从而平仓完成交易过程。您的收益如下： 100,000 X (1.6000-1.5852) USD = 1,480 USD, 等于一个点赚了10 美元。这显示了以保证金帐户买入的积极作用。如果 GBP/USD 跌至 1.5700/75, 您的亏损如下： 100,000 X (1.5852-1.5700) USD = 1,520 USD。</p>
            <h4>看跌</h4>
            <p>您预计英镑会从 GBP/USD = 1.5847/52 下跌，所以您决定卖出(做空)一单 GBP/USD 。合约价值为 100,000 X 1.5847 USD = 158,470 USD ，实际上您卖出了 10 万英镑，买入了 158,470 USD 。您的交易商要求的美元保证金是 1% X $158,470 = $1584.7 。 GBP/USD 跌至 1.5555/60 ，那么您的帐面收益如下： 100,000 X (1.5847-1.5560 USD) = 2,870 USD。2,870 USD 的帐面收益加入您的保证金帐户，您现在就有了 4454.7 USD 。这样您就可以开设价值 445470 USD 的仓位。但如果 GBP/USD 开始上涨，当汇率达到 1.6000/05 时，您的帐面亏损如下： 100,000 X (1.6005-1.5847) USD = 1,580 USD ，您的保证金帐户便减少了 1,580 USD。</p>
            <h4>基本面分析</h4>
            <p>基本面分析是基于对宏观基本因素的状况、发生的变化及其对汇率走势造成的影响加以研究，得出货币间供求关系的结论，以判断汇率走势的分析方法。研究对象包括经济、政治、军事、人文、地理、突发事件等各个方面。一般用以判断长期汇率变化的趋势。在某些书籍中，将基本面分析只定义为对经济因素的分析是片面的。</p>
            <p>由基本面分析得来的汇率长期发展的趋势较为可靠，并具有提前性。但其缺点是无法提供汇率涨跌的起、止点和发生变化时间。并且在一些时候，汇率的变化并不是严格遵从于基本面的变化。因此，对于基本面的分析一定要结合技术面以及市场心理等因素进行研究。</p>
            <h4>技术指标</h4>
            <p>技术指标是对价格的波动进行量化后，得出的较为抽象的价格走势分析工具。其作为辅助工具对研究汇率的走势具有很重要的作用。技术指标的种类较多，各有侧重。</p>
            <h4>K线</h4>
            <p>K线又称阴阳线、棒线、红黑线或蜡烛线，最早起源于日本德川幕府时代的米市交易，经过二百多年的演进，现已广泛应用于证券市场的技术分析中，成为技术分析中的最基本的方法之一，从而形成了现在具有完整形式和分析理论的一种技术分析方法。</p>
            <p>K线根据计算单位的不同，一般分为：日K线、周K线、月K线与分钟K线。它的形成取决于每一计算单位中的四个数据，即：开盘价、最高价、最低价、收盘价。当开盘价低于收盘价时，K线为阳线（一般用红色表示）；当开盘价高于收盘价时，K线为阴线；当开盘价等于收盘价时，K线称为十字星。当K线为阳线时，最高价与收盘价之间的细线部分称为上影线，最低价与开盘价之间的细线部分称为下影线，开盘价与收盘价之间的柱状称为实体。</p>
            <img src="/images/marketing/rules-k.jpg">
        </div>
    </div>
</div>
